<ion-card i18n color="primary">
  <ion-card-header>
    <ion-card-title>{{data.customer.firstName}} {{data.customer.lastName}}</ion-card-title>
    <ion-card-subtitle>{{data.event.showType}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p *ngIf="!(data.customer.phone === '')">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      {{data.customer.phone}}
    </p>

    <p *ngIf="!(data.customer.email === '')">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        {{data.customer.email}}
    </p>

    <p *ngIf="data.appointment">
        <ion-icon name="calendar-number-outline" slot="start"></ion-icon>
        {{data.appointment.startTime.$date | date: 'EEE dd.MM.yyyy'}} <span *ngIf="!((data.appointment.endTime.$date | date: 'dd.MM') === (data.appointment.startTime.$date | date: 'dd.MM'))"> -- {{data.appointment.endTime.$date | date: 'EEE dd.MM.yyyy '}}</span> | {{data.appointment.notes}}
    </p>

    <p *ngIf="data.appointment">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      {{data.appointment.startTime.$date | date: 'HH:mm'}}--{{data.appointment.endTime.$date | date: 'HH:mm'}}
    </p>  

    <p class="ion-text-wrap" *ngIf="data.adress">
        <ion-icon name="location-outline" slot="start"></ion-icon>
        {{data.adress.street}}, {{data.adress.zip}} {{data.adress.city}}
    </p>

    <p class="ion-text-wrap" *ngIf="data.adress">
      <ion-icon name="pin-outline" slot="start"></ion-icon>
      ({{data.adress.adressSTR}})
  </p>

    <p class="ion-text-wrap" *ngIf="data.adress">
      <ion-icon name="map-outline" slot="start"></ion-icon>
      {{data.adress.distance}} km
  </p>
  </ion-card-content>
</ion-card>

<!-- OLD APPOINTMENT -->
  <!-- {{data.appointment.startTime.$date | date: 'EEE dd.MM.yyyy'}} {{data.appointment.startTime.$date | date: 'HH:mm'}}--<span *ngIf="!((data.appointment.endTime.$date | date: 'dd.MM') === (data.appointment.startTime.$date | date: 'dd.MM'))">{{data.appointment.endTime.$date | date: 'EEE dd.MM.yyyy '}}</span>{{data.appointment.endTime.$date | date: 'HH:mm'}} | {{data.appointment.notes}} -->