<app-page-layout [name]="'Terminübersicht'" >
    <!-- {{appointments[0]}} -->
    <!-- <ion-list *ngFor="let a of appointments; index as i; first as isFirst" class="appointment_item" lines="inset"> -->
    <ion-accordion-group [multiple]="false" class="accordionGroup" expand="inset">
      <appointment-item [appointment]="a" *ngFor="let a of appointments; index as i; first as isFirst" class="appointment_item" lines="inset"></appointment-item>
    </ion-accordion-group>
    <!-- </ion-list> -->
</app-page-layout>