<ion-accordion toggleIcon="caret-forward-outline">
  <ion-item i18n detail="true" slot="header" color="grey">
    <ion-label>
      <h2 class="test">{{event.description}}</h2>
      <p>zuletzt bearbeitet: {{event.lastAction.$date | date: 'dd.MM.yyyy'}}</p>
      <p></p>
    </ion-label>
  </ion-item>

  <div class="ion-padding" slot="content">
    <app-short-event-details [event]="event"></app-short-event-details>
    
    <mat-divider></mat-divider>
    <p>{{conversationItem.notes}}</p>
    <!-- <p>{{event.</p> -->
      <!-- es fehlt: noch api für kunden, conversationen für Kontaktdaten und letzte notes -->

      <!--  -->
    <ion-button (click)="sendClassicOffer()"><ion-icon slot="start" name="paper-plane-outline"></ion-icon> Standardangebot senden</ion-button>
    <ion-button (click)="sendIndividualOffer()"><ion-icon slot="start" name="color-wand-outline"></ion-icon> individuelle Konditionen</ion-button>
    <ion-button (click)="manual()"><ion-icon slot="start" name="settings-outline"></ion-icon> manuell bearbeiten</ion-button>
  </div>
</ion-accordion>