ion-input{
    // border: 1px solid #ffff;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

    // flex: 0 0 100% !important
}
ion-input.input{
    max-width: 100px;
}

ion-modal {
    &.bottom-end {
      align-items: flex-end;
      --height: auto;
      .ion-page {
        position: relative;
        display: block;
        contain: content;
      }
    }
  }