<ion-accordion toggleIcon="caret-forward-outline">
  <ion-item i18n detail="true" slot="header" color="grey" *ngIf="appointment.endTime.$date >= now">
    <ion-label>
      <h2>{{event.description}}</h2>
      <p>{{appointment.startTime.$date | date: 'EEE dd.MM.yyyy'}} {{appointment.startTime.$date | date: 'HH:mm'}}--<span *ngIf="!((appointment.endTime.$date | date: 'dd.MM') === (appointment.startTime.$date | date: 'dd.MM'))">{{appointment.endTime.$date | date: 'EEE dd.MM.yyyy '}}</span>{{appointment.endTime.$date | date: 'HH:mm'}} | {{appointment.notes}}</p>
      <p></p>
    </ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <!-- {{adress}}, {{appointment.}} -->
    <p>{{adress.street}}, {{adress.zip}} {{adress.city}}</p>
    <ion-button (click)="openDetailedAppointment()"><ion-icon slot="start" name="create-outline"></ion-icon> mehr</ion-button>
  </div>
</ion-accordion>