<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="close-circle-outline" (click)="cancel()"></ion-icon>
    </ion-buttons>
      <ion-title>{{data.event.description}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="checkmark-circle-outline" (click)="confirm()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-item>
    <!-- in welchem Status ist die Anfrage:999 - manuell bearbeiten,  0 - offen / unbeantwortet, 1 - letzte Nachricht von uns (Bsp. Angebot gesendet), 2 - neue Nachricht vom Kunden | 10 - Zusage | 20 - Absage -->
    <ion-label>Status: </ion-label>
    <ion-chip color="success" *ngIf="data.event.status >= 10 && data.event.status < 20" (click)="selectStatus()">zugesagt</ion-chip>
    <ion-chip color="danger" *ngIf="data.event.status >= 20 && data.event.status < 30" (click)="selectStatus()">abgesagt</ion-chip>
    <ion-chip color="primary" *ngIf="data.event.status > 0 && data.event.status < 10" (click)="selectStatus()">offen</ion-chip>
  </ion-item>
  <ion-item>
    <ion-label>Typ:</ion-label>
    <ion-chip color="primary" *ngIf="data.event.soloType === 0">normal</ion-chip>
    <ion-chip color="primary" *ngIf="data.event.soloType === 1">SOLO Felix</ion-chip>
    <ion-chip color="primary" *ngIf="data.event.soloType === 2">SOLO Marvin</ion-chip>
  </ion-item>

  <ion-accordion-group [multiple]="true" class="accordionGroup" expand="inset">

    <app-edit-general-event-details [data]="data"></app-edit-general-event-details>
    <app-edit-erlernen-details [data]="data" *ngIf="data.event.showType === 'ERLERNEN'"></app-edit-erlernen-details>
    <app-conversation-items-history [conversationItems]="data.conversationItems"></app-conversation-items-history>

    

  </ion-accordion-group>
</ion-content>