<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="close-circle-outline" (click)="cancel()"></ion-icon>
    </ion-buttons>
      <ion-title>{{data.event.description}}</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="checkmark-circle-outline" (click)="confirm()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-item>
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select disableRipple value="{{data.event.status}}">
        <mat-option value="1">offen</mat-option>
        <mat-option value="2">zugesagt</mat-option>
        <mat-option value="3">abgesagt</mat-option>
      </mat-select>
    </mat-form-field>
  </ion-item>
  
  <ion-item>
    <ion-select value="{{data.event.status}}" [multiple]="false" interface="popover">
      <ion-select-option value=1>offen</ion-select-option>
      <ion-select-option value=2>zugesagt</ion-select-option>
      <ion-select-option value=3>abgesagt</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-accordion-group [multiple]="true" class="accordionGroup" expand="inset">

    <app-edit-general-event-details [data]="data"></app-edit-general-event-details>
    <app-conversation-items-history [conversationItems]="data.conversationItems"></app-conversation-items-history>

    

  </ion-accordion-group>
</ion-content>