<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="close-circle-outline" (click)="cancel()"></ion-icon>
    </ion-buttons>
      <ion-title *ngIf="classicType | async">Standardkonditionen</ion-title>
      <ion-title *ngIf="!(classicType | async)">individuelle Konditionen</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="checkmark-circle-outline" (click)="confirm()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <!-- Wechsel Konditionen -->
  <ion-segment value="default" (ionChange)="change()" color="primary">
    <ion-segment-button value="default">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="individual">
      <ion-label>individuell</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Anfragedaten nochmal -->
  <app-short-event-details [event]="event"></app-short-event-details>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>{{event.description}}</ion-card-title>
      <ion-card-subtitle>Anfrage vom {{event.arrival_date.$date | date: 'dd.MM.yyyy'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p class="infoNotes">{{conversationItem.notes}}</p>
    </ion-card-content>
  </ion-card>

  <!-- Angebotsdaten -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Angebot</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Zusatztext (1. Zeile Angebot)</ion-label>
        <ion-textarea [autoGrow]="true" [spellcheck]="true" [(ngModel)]="additionalText" placeholder="Text eingeben..."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">Your name</ion-label>
  </ion-item>
</ion-content>