<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="close-circle-outline" (click)="cancel()"></ion-icon>
    </ion-buttons>
      <ion-title *ngIf="classicType | async">Standardkonditionen</ion-title>
      <ion-title *ngIf="!(classicType | async)">individuelle Konditionen</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="checkmark-circle-outline" (click)="confirm()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <!-- Wechsel Konditionen -->
  <ion-segment value="default" (ionChange)="change()" color="primary">
    <ion-segment-button value="default">
      <ion-label>Standard</ion-label>
    </ion-segment-button>
    <ion-segment-button value="individual">
      <ion-label>individuell</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Anfragedaten nochmal -->
  <app-short-event-details [event]="event"></app-short-event-details>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-subtitle>Anfrage vom {{event.arrival_date.$date | date: 'dd.MM.yyyy'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p class="infoNotes">{{conversationItem.notes}}</p>
    </ion-card-content>
  </ion-card>

  <!-- Angebotsdaten -->
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Angebot</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="event._cls =='Event.EventERLERNEN'">
        <ion-segment [(ngModel)]="event.soloType">
          <ion-segment-button value="0">normal</ion-segment-button>
          <ion-segment-button value="1">SOLO Felix</ion-segment-button>
          <ion-segment-button value="2">SOLO Marvin</ion-segment-button>
        </ion-segment>

        <ion-item color="primary" [disabled]="classicType | async" class="roundBorder">
          <ion-label position="floating">Basispreis (€):</ion-label>
          <ion-input type="number" [(ngModel)]="event.basePrice"></ion-input>
        </ion-item>

        <ion-item [disabled]="classicType | async" class="roundBorder">
          <ion-label position="floating">Preis pro Kind (€):</ion-label>
          <ion-input type="number" [(ngModel)]="event.pricePerPerson"></ion-input>
        </ion-item>

        <ion-item [disabled]="classicType | async" class="roundBorder">
          <ion-label position="floating">Fahrtkostenpauschale (€):</ion-label>
          <ion-input type="number" [(ngModel)]="event.driveCostTotal"></ion-input>
        </ion-item>

      </div>


      <ion-item color="medium">
        <ion-label position="floating">Zusatztext (1. Zeile Angebot)</ion-label>
        <ion-textarea [autoGrow]="true" [spellcheck]="true" [(ngModel)]="additionalText" placeholder="Text eingeben..."></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="stacked">Your name</ion-label>
  </ion-item>
</ion-content>