.infoNotes{
    white-space: pre-line;
}

.roundBorder{
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
    // max-width: 40% !important;
    // margin-left: auto;
    // margin-right: auto;
}